@media screen and (max-width: 750px) {
    .chart {
        display: none;
    }
  }

body {
    background-color: #e0e0e0;
    font-weight: 300;
}

a {
    text-decoration: unset;
}

.card-footer{
    border: unset;
    border-radius: 32px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #bebebe,
            inset -5px -5px 10px #ffffff;
}

.card-header {
    border-bottom: 1px solid whitesmoke;
}

.card, .accordion {
    border: unset;
    border-radius: 7px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #b8b8b8,
             -5px -5px 10px #ffffff;
}
.card.button {
    border-radius: 7px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #b5b5b5,
                -5px -5px 10px #ffffff;
}

.card.button:hover, .occupation {
    border-radius: 7px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 4px #a1a1a1,
                inset -5px -5px 4px #ffffff;
}

.sm-text {
    font-size: 0.8rem;
}
.badge-hos {
    border-radius: 7px;
    background: #bfe004;
    box-shadow: inset 5px 5px 10px #d0c412,
                inset -5px -5px 10px #f0e214;
}

.badge-rea {
    border-radius: 7px;
    background: #e05613;
    box-shadow: inset 5px 5px 10px #b04613,
                inset -5px -5px 10px #bc6236;
}

.badge-to-danger {
    border: 5px #ff8cdd dotted;
}

.badge-to-warning {
    border: 5px #ffd18c dotted;
}
.badge-to-mort {
    border: 5px #000000 dotted;
}
.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #bec1c6;

}

.accordion-button:not(.collapsed)::after {

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235c8ec0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    background-color: #e0e0e0;
    border: 1px solid rgba(152, 148, 148, 0.09);
}
